<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <!--
            ログ出力先(ターゲット)の定義
                name     : ターゲットの名前
                xsi:type : 出力先の種類
                filename : 出力先ファイル名
                layout   : ログの書式
                    ${longdate}  : 長い形式の日時
                    ${message}   : ログメッセージ
                    ${exception} : 例外
                        format=tostring : 例外を`ToString`メソッドを読んだ形で出力
        -->
        <target name="errorLogFile" xsi:type="File" fileName="error.csv"
            layout='${longdate},"${message}","${exception:format=tostring}"' />
    </targets>
    <rules>
        <!--
            何をどこに出力するかのルール設定
                name     : ルール名
                minlevel : デバッグ(Debug)用～申告なエラー用(Fatal)までどのログ以上を出すかの指定
                    Error: エラーログ以上を出力
                writeTo  : 出力先ターゲット名
        -->
        <logger name="*" minlevel="Error" writeTo="errorLogFile" />
    </rules>
</nlog>